.row {
    color: white;
    margin: 3vw 0;
  }
  .row--title {
    padding: 20px;
  }
  
  .row--posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    cursor: pointer;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .row--poster {
    object-fit: contain;
    max-height: 550px;
    transition: transform 500ms;
    margin-right: 50px;
    border-radius: 5px;
  }
  .row--poster:hover {
    transform: scale(1.12);
    border-radius: 5px;
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
    .row {
      margin-left: 0px;
    }
    .row--title {
      font-size: 1.2rem;
      padding-bottom: 0px;
    }
    .row--poster {
      width: 60%;
    }
  }