h3{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: white
}

@media only screen and (min-device-width: 360px) and (max-device-width: 700px) {
    h3{
        font-size: 18px;
    }
   
}