  
  .search__container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: bisque;
  }


  .input {
    width: 200px;
    object-fit: contain;
    height: 31px;
    border: 2px solid white;
    padding-left: 10px;
    font-size: 15px;
  }
  /* @media only screen and (min-device-width: 360px) and (max-device-width: 700px) {
    
  } */