  
  .search__container {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }

  .search__icon {
    all: unset;
    cursor: pointer;
    color: white;
    font-size: xxx-large;
  }

  .search__form {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
    width: 40%;
  }

  .search__title{
    color: white
  }  

  .search__input {
    height: 30px;
    padding-left: 10px;
    font-size: 15px;
    width: 30%;
  }

  .search__select {
    height: 34px;
    width: 30%;
  }

   .search__button {
    height: 35px;
    width: 20%;

  } 

  @media only screen and (min-device-width: 360px) and (max-device-width: 700px) {
    .search__container {
      flex-direction: column;
      padding: 20px 0px;

    }
    .search__form{
      width: 100%;
    }
    .search__icon {
      font-size: xx-large;
      margin-top: 5px
    }
    
  }